@import '_mixin';

.site-footer {
    background-color: var(--color-blue-3);
    color: $white;
    padding: var(--padding-default) 0;
    a {
        color: var(--color-white);
    }
    .wp-block-columns {
        justify-content: space-between;
    }
    .wp-block-column {
        @media screen and ( min-width: $width_m ) {
            max-width: 300px;
        }
        @media screen and ( min-width: $width_l ) {
            max-width: 400px;
        }
        p {
            &:first-of-type {
                margin-top: 0;
                strong {
                    @include font(30);
                    @include font_crimson_pro_semi_bold;
                }
            }
        }
    }
    .sedno-social-media {
        @include sedno_social_media;
    }
}
body {
    &.loaded {
        .sedno-social-media {
            .facebook {
                a {
                    background: {
                        @include icon( 'facebook-white.svg' );
                    }
                }
            }
            .twitter {
                a {
                    background: {
                        @include icon( 'twitter-white.svg' );
                    }
                }
            }
            .youtube {
                a {
                    background: {
                        @include icon( 'youtube-white.svg' );
                    }
                }
            }
        }
    }
}

.navigation {
    &.navigation-numeric {
        ul {
            @include reset_ul;
            justify-content: center;
            display: flex;
            gap: 25px;
            padding: var(--padding-default);
            a {
                @include radius;
                display: block;
                border: 2px solid var(--color-accent);
                line-height: 24px;
                min-width: 28px;
                text-align: center;
                padding: 0 3px;
                color: var(--color-accent);
                &:hover {
                    text-decoration: none;
                    color: var(--color-white);
                    background-color: var( --color-accent);
                }
            }
            .previous,
            .next {
                a {
                    border-color: var(--color-white);
                    font-weight: 900;
                }
            }
            .active {
                a {
                    color: var(--color-white);
                    background-color: var( --color-accent);
                }
            }
        }
    }
}

