@import '_mixin';

.site-footer {
    background-color: var(--color-blue-3);
    color: $white;
    padding: 32px 0;
    a {
        color: var(--color-white);
    }
    .wp-block-columns {
        justify-content: space-between;
    }
    .wp-block-column {
        @media screen and ( min-width: $width_m ) {
            max-width: 300px;
        }
        strong {
            @include font(30);
        }
    }
}

