@import '_mixin';

#colophon {
    margin-top: 60px;
    section {
        margin-bottom: var(--padding-small);
        &:last-child {
            margin: 0;
        }
    }
    .wp-block-columns {
        margin: 0;
    }
    .widget {
        p {
            &:last-child {
                margin-bottom: 0;
            }
        }
    }
    a {
        color: var(--color-white);
        &:visited {
            color: var(--color-white);
        }
        &:hover {
            color: var(--color-gray-1);
        }
    }
}

.site-footer {
    background-color: var(--color-blue-3);
    color: var(--color-white);
    padding: var(--padding-default) 0;
    a {
        color: var(--color-white);
    }
    .wp-block-columns {
        justify-content: space-between;
    }
    .wp-block-column {
        @media screen and ( min-width: $width_m ) {
            max-width: 300px;
        }
        @media screen and ( min-width: $width_l ) {
            max-width: 400px;
        }
        p {
            &:first-of-type {
                margin-top: 0;
                strong {
                    @include font(30);
                    @include font_crimson_pro_semi_bold;
                }
            }
        }
    }
    .sedno-social-media {
        @include sedno_social_media;
    }
}
body {
    &.loaded {
        .sedno-social-media {
            .facebook {
                background: {
                    @include icon( 'facebook-white.svg' );
                }
            }
            .twitter {
                background: {
                    @include icon( 'twitter-white.svg' );
                }
            }
            .youtube {
                background: {
                    @include icon( 'youtube-white.svg' );
                }
            }
        }
    }
}

.navigation {
    &.navigation-numeric {
        ul {
            @include reset_ul;
            align-items: center;
            display: flex;
            gap: 12px;
            justify-content: center;
            padding: var(--padding-default) 0 0;
            a {
                @include radius;
                display: block;
                border: 2px solid var(--color-accent);
                line-height: 24px;
                min-width: 28px;
                text-align: center;
                padding: 0 3px;
                color: var(--color-accent);
                &:hover {
                    text-decoration: none;
                    color: var(--color-white);
                    background-color: var( --color-accent);
                }
            }
            .first,
            .last,
            .previous,
            .next {
                a {
                    min-width: 0;
                    display: block;
                    width: 21px;
                    height: 20px;
                    border: 0;
                    &:hover {
                        background-color: var(--color-white);
                    }
                    span {
                        display: none;
                    }
                }
            }
            .dots {
                span {
                    width: 17px;
                    @include iconb('dots.svg');
                    overflow: hidden;
                    text-indent: -999em;
                    background-position: 50% 100%;
                }
            }
            .active {
                a {
                    color: var(--color-white);
                    background-color: var( --color-accent);
                }
            }
            li {
                padding: 6px;
                > {
                    span {
                        display: block;
                        width: 21px;
                        height: 20px;
                    }
                }
                &.first {
                    padding-right: 0;
                    > {
                        span {
                            @include iconb('arrow-left-double-light.svg');
                        }
                        a {
                            @include iconb('arrow-left-double.svg');
                        }
                    }
                }
                &.previous {
                    padding-left: 0;
                    > {
                        a,
                        span {
                            width: 12px;
                            @include iconb('arrow-left-light.svg');
                        }
                        a {
                            @include iconb('arrow-left.svg');
                        }
                    }
                }
                &.last {
                    padding-left: 0;
                    > {
                        span {
                            @include iconb('arrow-right-double-light.svg');
                        }
                        a {
                            @include iconb('arrow-right-double.svg');
                        }
                    }
                }
                &.next {
                    padding-right: 0;
                    > {
                        a,
                        span {
                            width: 12px;
                            @include iconb('arrow-right-light.svg');
                        }
                        a {
                            @include iconb('arrow-right.svg');
                        }
                    }
                }
            }
        }
    }
}

