@import '_mixin';

body {
    &.home {
        #primary {
            margin-bottom: 60px;
        }
    }
}

#sidebar-sedno-mp-1 {
    background-color: var(--color-gray-3);
    color: var(--color-blue-2);
    padding: 60px 0;
    .articles {
        .wp-block-column {
            color: var( --color-blue-2 );
            display: grid;
            grid-template-columns: 3px auto;
            column-gap: 16px;
            @media (min-width: $width_s) and (max-width: 781px) {
                flex-basis: unset !important;
            }
            &:before {
                content: "";
                display: block;
                width: 3px;
                border-left: 3px solid var(--color-accent);
                opacity: .4;
            }
        }
    }
    .wp-block-image {
        margin: 0;
    }
    h3 {
        margin: 20px 0 10px;
        + {
            p {
                margin-top: 0;
            }
        }
    }
    .sedno-motto-plus-logo {
        .wp-block-column {
            &:last-child {
                max-width: 330px;
            }
        }
    }
}

#sidebar-sedno-mp-2 {
    h2 {
        @include header_1;
    }
    h3 {
        font-weight: 600;
        margin: 0 0 var(--padding-small);
    }
    .wp-block-columns {
        gap: 90px;
        margin-bottom: 0;
    }
}

.most-important {
    article {
        align-items: start;
        display: flex;
        padding-bottom: var(--padding-small);
    }
    .post-thumbnail {
        display: block;
        margin-right: 20px;
    }
}

@mixin front_header() {
    @include reset_min;
    margin: 55px 0 42px;
    font: {
        weight: 600;
        size: 40px;
    }
    color: var(--color-blue-2);
}


