@import '_mixin';

#sidebar-sedno-mp-1 {
    background-color: var(--color-gray-3);
    padding: 60px 0;
    .articles {
        .wp-block-column {
            color: var( --color-blue-2 );
            display: grid;
            grid-template-columns: 3px auto;
            column-gap: 16px;
            &:before {
                content: "";
                display: block;
                width: 3px;
                border-left: 3px solid var(--color-accent);
                opacity: .4;
            }
        }
    }
    .wp-block-image {
        margin: 0;
    }
    h3 {
        margin: 19px 0 15px;
        font-family: var(--font-family-serif);
    }
}

#sidebar-sedno-mp-2 {
    h2 {
        @include header_3;
        color: var(--color-blue-2);
    }
}

.most-important {
    article {
        display: flex;
        align-items: top;
    }
    .post-thumbnail {
        display: block;
        margin-right: 20px;
    }
}

@mixin front_header() {
    @include reset_min;
    margin: 55px 0 42px;
    font: {
        weight: 600;
        size: 40px;
    }
    color: var(--color-blue-2);
}


