@import '_mixin';

#masthead {
    width: 100%;
    .wrapper {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    margin-bottom: 1em;
}

@mixin logo_size() {
    display: block;
    width: 210px;
    height: 90px;
}

.site-branding {
    padding: 15px 20px 15px 0;
}

.site-title {
    margin: 0;
    @include logo_size;
    background: {
        repeat: no-repeat;
        @include image('sedno-dziennik.svg');
        position: center;
        size: contain;
    }
    span {
        display: none;
    }
    a {
        @include logo_size;
    }
}

.main-navigation {
    .menu {
        @include font(20,30);
        display: flex;
        float: right;
        a {
            white-space: nowrap;
            width: auto;
            border-bottom: 2px solid var(--color-white);
            &:hover {
                border-bottom-color: var(--color-accent);
                text-decoration: none;
            }
        }
        > {
            li {
                padding-right: 40px;
                &.current-menu-parent,
                &.current-menu-item,
                &.current_page_item {
                    > {
                        a {
                            border-bottom-color: var(--color-accent);
                            &:hover {
                                cursor: default;
                                border-bottom-color: var(--color-blue-3);
                            }
                        }
                    }
                }
                &.menu-item-has-children {
                    > {
                        a {
                            display: flex;
                            align-items: center;
                            &:after {
                                display: block;
                                content: "";
                                width: 16px;
                                height: 9px;
                                margin-left: 6px;
                                @include iconb('metro-chevron-thin-down.svg');
                            }
                        }
                    }
                }
            }
        }
        .sub-menu {
            background-color: var(--color-white);
            flex-direction: column;
            a {
                padding: 5px 10px;
            }
            .current-menu-item {
                a {
                    border-bottom: 2px solid var(--color-accent);
                    &:hover {
                        border-bottom-color: var(--color-blue-3);
                        cursor: default;
                    }
                }
            }
        }
    }
}
body {
    &.admin-bar {
        margin-top: 32px;
    }
}

