@import '_mixin';

#masthead {
    width: 100%;
    .wrapper {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    margin-bottom: 1em;
}

@mixin logo_size() {
    display: block;
    width: 210px;
    height: 90px;
}

.site-branding {
    padding: 15px 20px 15px 0;
}

.site-title {
    margin: 0;
    @include logo_size;
    background: {
        repeat: no-repeat;
        @include image('sedno-dziennik.svg');
        position: center;
        size: contain;
    }
    span {
        display: none;
    }
    a {
        @include logo_size;
    }
}

.main-navigation {
    .menu {
        display: flex;
        float: right;
        > {
            li {
                padding-right: 40px;
            }
        }
        .current_page_item {
            a {
                border-bottom: 2px solid var(--color-accent);
                &:hover {
                    text-decoration: none;
                    cursor: default;
                }
            }
        }
    }
}
body {
    &.admin-bar {
        margin-top: 32px;
    }
}

