@import '_mixin';

@mixin slider_article_width() {
    width: 500px;
    @media only screen and (max-width: #{$width_m}) {
        width: 100%;
    }
}

#main-slider {
    @include default_width_no_paddings;
    position: relative;
    height: 620px;
    @media only screen and (max-width: #{$width_sx}) {
        height: 600px;
    }
    .slider-wrap {
        article {
            position: absolute;
            transition: opacity 0.4s ease 0s;
            opacity: 0;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
            &.active {
                opacity: 1;
            }
            h2 {
                @include header_3;
                margin: 0;
            }
            .entry-meta-author {
                margin-top: 10px;
                @include font(20,25);
            }
            .entry {
                background-color: var(--color-blue-3);
                color: var(--color-white);
                left: 0;
                padding: 100px 43px 0 56px;
                position: absolute;
                top: 0;
                bottom: 20px;
                @media only screen and (max-width: #{$width_m}) {
                    bottom: 0;
                    padding: {
                        top: var(--padding-default);
                        left: var(--padding-small);
                        right: var(--padding-small);
                    }
                }
                @include slider_article_width;
                .entry-content {
                    padding-bottom: 10px;
                    @include font(16,18);
                    font-weight: 300;
                }
            }
            .thumbnail {
                @media only screen and (max-width: #{$width_m}) {
                    display: none;
                }
                position: absolute;
                top: 20px;
                left: 445px;
                height: 600px;
                width: calc( 100vw - 445px );
                @media screen and (min-width: #{$width_x} ) {
                    width: 755px;
                }
                background: {
                    position: 50%;
                    size: cover;
                    repeat: no-repeat;
                }
            }
        }
        nav {
            position: absolute;
            bottom: 36px;
            left: 0;
            z-index: 999999;
            @include slider_article_width;
            ul {
                @include reset;
                display: grid;
                grid-template-columns: repeat(4, 32px);
                gap: 8px;
                justify-content: center; 
                li {
                    position: relative;
                    a {
                        display: block;
                        width: 32px;
                        height: 32px;
                    }
                    span {
                        display: none;
                    }
                }
            }
        }
    }
}
body {
    &.loaded {
        #main-slider {
            .slider-wrap {
                nav {
                    ul {
                        li {
                            a {
                                @include iconb('ellipse-ring.svg');
                                background-size: 20px;
                                &:hover {
                                    opacity: .7;
                                }
                            }
                            &.active {
                                a {
                                    @include iconb('ellipse-full.svg');
                                    background-size: 20px;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}
