@import '_mixin';

body {
    background-color: var(--color-white);
    color: var(--color-primary);
    @include font( 14, 22 );
    a {
        @include link;
    }
    .button {
        @include button;
        &.button-reverse {
            @include button_reverse;
        }
    }
    .required {
        color: var(--color-alert);
    }
    &.archive {
        .page-header {
            .page-title {
                display: flex;
                align-items: baseline;
                span {
                    @include sedno_tag;
                    margin-left: var(--padding-default);
                }
            }
        }
    }
    &.blog,
    &.single-post {
        .entry-meta {
            margin-bottom: 5px;
        }
    }
    &.single-post {
        figure {
            &.thumbnail {
                float: left;
                margin: 0 30px 30px 0;
            }
            figcaption {
                max-width: 460px;
            }
        }
        .entry-title {
            margin: 0 0 15px;
            @include header_3;
            color: var(--color-black);
        }
        .entry-content {
            h1, h2, h3, h4, h5, h6 {
                clear: initial;
            }
            a {
                text-decoration: underline;
            }
        }
        .entry-footer {
            border-bottom: 3px solid var(--color-blue-1);
            .cat-links {
                display: none;
            }
            .tags-links {
                ul {
                    @include reset;
                    display: flex;
                    flex-wrap: wrap;
                    gap: var(--padding-small);
                    a {
                        @include sedno_tag;
                    }
                }
            }
            .social-media-share {
                padding: var(--padding-default) 0;
                ul {
                    @include sedno_social_media;
                    display: flex;
                    justify-content: flex-end;
                }
            }
        }
        &.loaded {
            .social-media-share {
                .facebook {
                    background: {
                        @include icon( 'facebook.svg' );
                    }
                }
                .twitter {
                    background: {
                        @include icon( 'twitter.svg' );
                    }
                }
                .copy {
                    background: {
                        @include icon( 'link.svg' );
                    }
                }
            }
        }
    }
    &.page {
        .entry-content {
            strong {
                font-weight: 600;
            }
            h2 {
                @include header_1;
                font-weight: 600;
            }
            h3 {
                @include font(30, 30);
            }
            .wp-block-column {
                h3 {
                    &:first-child {
                        margin-top: 0;
                    }
                }
            }
        }
    }
}

.entry-meta {
    font-weight: 200;
}

@import 'content/login';
@import 'content/forms';
@import 'content/front-page';
@import 'content/cookie-notice';
@import 'content/lds-spinner';
@import 'content/post-type-announcement';
@import 'content/post-type-editorial_comment';

@import 'plugins/breadcrumb-navxt';
@import 'plugins/contact-form-7';
@import 'plugins/contextual-related-posts';

