@import '_mixin';

.wrapper,
#primary {
    @include default_width;
}

body {
    &.archive,
    &.blog,
    &.search {
        .page-header {
            .page-title {
                margin-top: 0;
            }
        }
        .site-main {
            article {
                @media screen and (min-width: #{$width_m} ) {
                    display: grid;
                    grid-template-columns: 460px auto;
                    align-items: start;
                    @media screen and (max-width: #{$width_l} ) {
                        grid-template-columns: 300px auto;
                    }
                    column-gap: 30px;
                }
                .entry-title {
                    margin: 0 0 10px;
                    @include header_3;
                }
                .author {
                    @include font(20);
                }
                .entry-content {
                    margin: 0;
                    p {
                        margin-bottom: 0;
                    }
                }
                .post-thumbnail {
                    @include thumbnail_as_background_setting;
                }
            }
        }
    }
    &.post,
    &.page {
        margin: 0;
    }
}


@import 'layout/header';
@import 'layout/slider';
@import 'layout/footer';
@import 'layout/front-page';
@import 'layout/login';


