@import '_mixin';

.wrapper,
#primary {
    @include default_width;
}

body {
    &.archive,
    &.blog {
        .page-header {
            .page-title {
                margin-top: 0;
            }
        }
        .site-main {
            article {
                display: grid;
                grid-template-columns: 460px auto;
                column-gap: 40px;
                padding-bottom: 2em;
                .entry-title {
                    margin: 0 0 10px;
                    @include header_3;
                }
                .author {
                    @include font(20);
                }
                .entry-content {
                    margin: 0;
                }
                .post-thumbnail {
                    img {
                        @include radius;
                    }
                }
            }
        }
    }
    &.post,
    &.page {
        margin: 0;
    }
}


@import 'layout/header';
@import 'layout/slider';
@import 'layout/footer';
@import 'layout/front-page';
@import 'layout/login';


