.iworks-media-container {
    .iworks-media-file-row {
        display: grid;
        grid-template-columns: 32px 32px auto 32px;
        align-items: center;
        column-gap: 10px;
        margin-bottom: 10px;
        .icon {
            width: 32px;
            height: 32px;
            background: {
                repeat: no-repeat;
                position: center;
                size: contain;
            }
        }
    }
}
