@import '_mixin';

form {
    button,
    input,
    select,
    textarea {
        @include font( 14, 17 );
    }
    button,
    input[type=submit] {
        @include button;
    }
    input[type=text],
    input[type=email],
    input[type=password],
    select,
    textarea {
        @include radius;
        background-color: var(--color-white);
        border-color: var(--color-black);
        padding: 6px 10px;
        width: 100%;
    }
    label {
    }
    .required-descrpition {
        strong {
            color: var(--color-alert);
        }
    }
    .required {
        label {
            span {
                &:after {
                    content: "*";
                    color: var(--color-alert);
                }
            }
            div {
                span {
                    &:after {
                        content: "";
                        display: none;
                    }
                }
            }
        }
    }
    [disabled],
    [readonly] {
        opacity: .5;
        &:hover {
            cursor: default;
        }
    }
    fieldset {
        border: 0;
    }
    .select2-container {
        width: 100% !important;
    }
}

.button {
    @include button;
}

