@import '_mixin';

@mixin front_page_header() {
    margin: 30px 0 40px;
    @include header_1;
}

body {
    &.home {
        #primary {
            @media screen and ( min-width: $width_l ) {
                display: grid;
                grid-template-columns: 545px auto;
                column-gap: 31px;
            }
            > {
                article {
                    .entry-header {
                        @include front_page_header;
                        p {
                            margin: 0;
                        }
                    }
                    .entry-content {
                        border: 3px solid var(--color-blue-1);
                        padding: 20px;
                        > {
                            :first-child {
                                margin-top: 0;
                            }
                        }
                        h3 {
                            @include font(28, 30);
                            font: {
                                family: var(--font-family-serif);
                                weight: 400;
                            }
                        }
                    }
                }
            }
        }
        .most-important {
            header {
                p {
                    @include front_page_header;
                }
            }
            article {
                a {
                    display: grid;
                    grid-template-columns: 200px auto;
                    column-gap: 20px;
                }
                h2 {
                    @include header_3;
                }
                img {
                    @include radius(10px);
                }
            }
            .button {
                span {
                    &:after {
                        content: "\203A";
                        font-weight: 600;
                        padding-left: 5px;
                        font-size: 29px;
                    }
                }
            }
        }
    }
}

