@import '../_mixin';

body {
    &.post-type-archive-editorial_comment {
        #primary {
            article {
                @media screen and (min-width: #{$width_m} ) {
                    display: grid;
                    grid-template-columns: 120px auto;
                    .entry-meta {
                        line-height: 40.45px;
                    }
                }
            }
        }
    }
    &.single-editorial_comment {
        .entry-title {
            margin: 0 0 15px;
        }
    }
}
