@import '../_mixin';

@mixin announcement_files() {
    .files {
        justify-self: end;
        ul {
            @include reset;
            display: grid;
            row-gap: 1em;
        }
        a {
            width: 100%;
            text-align: center;
        }
    }
}

body {
    &.post-type-archive-announcement {
        #primary {
            article {
                .entry-content {
                    padding-bottom: var(--padding-default);
                }
                @media screen and (min-width: #{$width_l}) {
                    display: grid;
                    grid-template-columns: 120px auto 200px;
                    .entry-meta {
                        line-height: 40.45px;
                    }
                    .entry-content {
                        padding-bottom: 0;
                    }
                }
                @include announcement_files;
            }
        }
    }
    &.single-announcement {
        .entry-title {
            margin: 0 0 15px;
        }
        .entry-footer {
            @include announcement_files;
            .files {
                max-width: 200px;
            }
            padding-bottom: var(--padding-default);
        }
    }
}
